<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sooperbala.a"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AddPeople">
        </activity>

        <activity android:name=".selectPeople">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".Need">

        </activity>
        <activity android:name=".Foods">
        </activity>
        <activity android:name=".Outing">
        </activity>
        <activity android:name=".Game">
        </activity>
        <activity android:name=".React">
        </activity>
        <activity android:name=".Settings">
        </activity>
    </application>

</manifest>